{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
 
    <input type="hidden" name="email" value="foo@foo.bar" />
   <input type="hidden" name="url" value="foo.bar" />
    <input type="hidden" name="next" value="{% url pbear_single_comment_posted doc.pk %}" />
        
  <table>
  {% for field in form %}
    {% if field.name != "email" and field.name != "url" %}
        {% if field.is_hidden %}
          <div>{{ field }}</div>
        {% else %}
          <tr><td>{% if field.errors %}{{ field.errors }}{% endif %}<td></tr>
          <tr>
            <td><p
            {% if field.errors %} class="error"{% endif %}
            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{{ field.label_tag }}</p></td>
            <td><p
            {% if field.errors %} class="error"{% endif %}
            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{{ field }}</p></td>
          </tr>
          
        {% endif %}
    {% endif %}
  {% endfor %}
  </table>

  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
  </p>
</form> 
