<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>{% block title %}Polar Bear Feed{% endblock title %}</title>
<link rel="stylesheet" href="http://www.etiennebenson.com/static/fedregfeed/css/styles.css" type="text/css">
{% block headscript %} 
{% endblock headscript %}
</head>

<body>
<table style="margin-left:auto; margin-right:auto" width="900">
<tr>
<td width="100%" colspan="3" style="text-align:center">
{% block header %}
<h1 id="title"><a href={% url pbear_list_default %}>Polar Bear Feed</a></h1>
<p style="font-style:italic">an automatically updated, commentable,  <a href="/feed" target="_blank" style="text-decoration:none">RSS-syndicated</a> list of <a href="http://www.federalregister.gov" target="_blank" style="text-decoration:none">Federal Register</a> items mentioning polar bears, 1994-present.<br>click on item titles for detail view/comments and "list view" to return to list.<br/> or check out a dynamically generated <a href="{% url pbear_chart %}">chart</a> of # of polar-bear-related notices/year.</p>
<p><a href="http://www.etiennebenson.com/polar-bears-in-the-federal-register" target="_blank">about</a></p>
{% endblock header %}
</td>
</tr>

<tr>
<td width="75" style="text-align:left">
{% block newnav %}
{% endblock newnav %}
</td>
<td width="750"  align="center" style="text-align:center">
{% block listnav %}
{% endblock listnav %}
</td> 
<td width="75" style="text-align:right">
{% block oldnav %}
{% endblock oldnav %}
</td>
</tr>


<tr>
<td></td>
<td width="80%">
{% block content %}
{% endblock content %}
</td>
<td></td>
</tr>

<tr>
<td></td>
<td width="80%">
{% block comments %}
{% endblock comments %}
</td>
<td></td>
</tr>


<tr>
<td width="100%" colspan=3>
{% block footer %}
{% endblock footer %}
</td>

</body>
</html>

