{% extends "base.html" %}

{% block content %}
{% load markup %}

    <div style="margin:10px;text-align:center;width:600px;margin-right:auto;margin-left:auto;">
        <h2 style="margin-bottom:0px;">{{post.title}}</h2>
        <em>posted by {{post.author.name}} at {{post.datetime}}</em>
    </div>
    <div style="margin:10px;text-align:left;width:600px;margin-right:auto;margin-left:auto;">
        <p>{{post.content|markdown}}</p>
    </div>
{% endblock content %}
    
{% block comments %}
    <div class=doc_comments style="margin:10px;margin-top:20px;text-align:center;width:600px;margin-right:auto;margin-left:auto;">
        {% load comments %}
        {% get_comment_count for post as comment_count %}
        <h2>Comments ({{comment_count}})</h2>
    <div style="text-align:left;">
        {% render_comment_list for post %}
    </div>
    </div>
    <div style="margin:10px;margin-top:20px;text-align:center;width:600px;margin-right:auto;margin-left:auto;">
        <h2>Submit a Comment</h2>
            {% render_comment_form for post %}
    </div> 
{% endblock comments %}


