   
<!--
{% block comments %}
            <div class=doc_comments>
                {% load comments %}
                {% get_comment_count for doc as comment_count %}
                <span class="doc_comments_heading"><span style="font-weight:bold">Comments</span>: {{comment_count}}</span>
                {% render_comment_list for doc %}
                <table>
                <p>Post a comment:</p>
                <tr><td>
                    {% render_comment_form for doc %}
                </td></tr>
                </table> 
             </div> 
{% endblock comments %}

-->    

