{% extends "base.html" %}

{% block stylesheet %}<link rel="stylesheet" href="http://www.etiennebenson.com/static/fedregfeed/css/fedregdoc-xml-styles.css" type="text/css">{% endblock stylesheet %}
 
{% block title %}Polar Bear Feed{% endblock title %}


{% block nav %}
<!--<div style="text-align:left;font-style:normal;margin:10px;margin-left:auto; margin-right:auto;width:600px">
<p>Currently only summaries/abstracts of individual items are available here (although the full text is used to generate search results). For more details, click on the &rArr; links to go to the official <a href="http://www.federalregister.gov" target="_blank">Federal Register</a> site.</p></div>-->

<div style="text-align:center;margin:10px;"><p>
{% if search_term %}
{% if search_term != 'None' %}<a href="{% url pbear_search_term_page display_page=display_page search_term=search_term %}" style="font-weight:bold;text-decoration:none">{% else %}<a href="{% url pbear_browse_page display_page=display_page %}" style="font-weight:bold;text-decoration:none">{% endif %}back to list</a></p></div>
{% endif %}
{% endblock nav %}

 
{% block content %}

        <div style="margin-left:auto;margin-right:auto;width:500px;text-align:left;">
    {% if doc %}        
         <div style="text-align:center;margin-top:20px;"><p class = "doc_data">
             <h2>{{doc.title}}</h2>
             <span class="doc_date">{{doc.publication_date}}</span><br/>
             <span class="doc_type">{{doc.document_type}}</span><br/>
             FR Doc #: {{doc.document_number}}<br/>
             <span class="doc_agency">
             {% for a in doc.agencies.all %}
                    {% if a.name %}
                        {{a.name}}{% if not forloop.last %}; {% endif%}
                    {% else %}
                       {{a.raw_name}}{% if not forloop.last %}; {% endif%}
                     {% endif %}
                     
                {% endfor %}
              </span>      
            </p></div>
           
<h3 style="text-align:center">Summary</h3>
            <P class="doc_abstract">{{ doc.abstract }}</p>
    {% else %}
        <p>no doc defined</p>
    {% endif %}

        <div><h3 style="text-align:center">Full text</h3> 
                {% if fulltext %}
                        {{fulltext|safe}}
                    {% else %} 
                        At FederalRegister.gov: 
                         {% if doc.html_url %}
                     <span class="doc_fulltext">HTML<a href="{{doc.html_url}}" target="_blank" style="text-decoration:none">&rArr;</a></span>
                        {% endif %}
                        {% if doc.pdf_url %}
                             PDF<a href="{{doc.pdf_url}}" target="_blank" style="text-decoration:none">&rArr;</a>
                        {% endif %}         
                {% endif %}
                </div>

        </div>

{% endblock content %}

