{% extends "base.html" %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>
/* function to hide/show element on click */
$(function() {
    $("#show_hide").click(function() {
        var display_val = $("#chart").css("display");
        if (display_val == "none") {
            $("#chart").css("display","inline");
            $("#show_hide").text("(-) hide chart");
        } else {
            $("#chart").css("display","none");
            $("#show_hide").text("(+) show chart");
        }
    });
    $("#show_hide").mouseover(function() {
        $(this).css("cursor","pointer")
    });
});
</script>
{% endblock script %}


{% block title %}
Polar Bear Feed
{% endblock title %}

{% block content %}
<div style="margin-left:auto; margin-right:auto; text-align:left;width:600px;">

    <p>The <strong>Polar Bear Feed</strong> is a dynamically updated database of <em>U.S. Federal Register</em> items (currently {{record_count}} of them) that mention polar bears from 1994 to the present. It also provides dynamically generated visualizations of data, including charts of permit applications for imports of polar bear trophies from Canada between 1997 and 2008.</p>

    <p><strong>What it's good for</strong>: Environmentalists, animal protectionists, trophy hunters, and others can use the feed to easily keep track U.S. federal government actions relating to polar bears, including the drafting of new rules and regulations and the issuance of permits.</p>    
    <p><strong>Note</strong>: The database includes <em>all</em> records that mention polar bears, included some that are primarily about other species. The Polar Bear Feed is for informational purposes only; no guarantees of accuracy or completeness are made. For official regulatory texts and the opportunity to submit public comments, see the <a href="http://ww.federalregister.gov" target="_blank">Federal Register</a> site and <a href="http://www.regulations.gov/" target="_blank">Regulations.gov</a>.</p>

    <p><strong>To see more</strong>: Click on the links at the top of the page above to <a href="{% url pbear_browse %}">browse</a> or <a href="{% url pbear_search_default %}">search</a> the local database of polar-bear-related FR items, to view some <a href="{% url pbear_vis %}">visualizations</a> related to the import of polar bear trophies from Canada, to read the <a href="/blog" target="_blank">blog</a>, or to find out more <a href="/about">about</a> polar bear conservation and the Polar Bear Feed.</p>
 
    {% if chart_url %}
    <div style="margin-left:auto; margin-right:auto; width:600px;text-align:center;">
        <h2>Polar Bear-Related Items in the <em>Federal Register</em> as of {% now "F j, Y" %}</h2>
        <img src="{{ chart_url }}"/>
    </div>
    {% endif %}

    {% if most_recent_doc %}
    <div style="margin-left:auto; margin-right:auto; width:600px;text-align:center;">
        <h2>Most Recent Item</h2><p>{{most_recent_doc.publication_date}}<br/><a href="{% url pbear_detail_pk doc_pk=most_recent_doc.pk %}" style="text-decoration:none">{{most_recent_doc.title}}</a></p>
    </div><br/>
    {% endif %}
{% endblock content %}


