<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Polar Bear FedReg Feed</title>
<!-- the following css include does not work -->
<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css" type="text/css">
</head>

<body>
<h1>Polar Bear FedReg Feed</h1>
{% if base_url %}
        {% if doc_list %}
            <p>Records {{display_offset|add:1}}-{{display_offset|add:display_num}} of {{total_doc_count}}</P>
            
        <!-- chronological navigation bar -->
        <div class="nav"> 
        {% if display_offset > 0 %}
            <a class="nav" href="{% url fedregfeed.views.index display_offset=0 display_num=display_num %}"><< newest</a>
            <a class="nav" href="{% url fedregfeed.views.index display_offset=newer_offset display_num=display_num %}">< newer</a>
        {% else %}
            <span class="linknotavail"><< newest < newer</span>
        {% endif %}
        {% if older_offset < total_doc_count %}
            <a class="nav" href="{% url fedregfeed.views.index display_offset=older_offset display_num=display_num %}">older ></a>    
            <a class="nav" href="{% url fedregfeed.views.index display_offset=oldest_offset display_num=display_num %}">oldest >></a>
        {% else %}
           <span class="linknotavail"> older > oldest >></span>
        {% endif %}
        </div>
    
            <table width="100%" >
            <tr>
            <td width="10%"><h2 class="tableheading">Publication Date</h2></td> 
            <td width="15%"><h2 class="tableheading">Agencies</h2></td>
            <td width="10%"><h2 class="tableheading">Document Type</h2></td>
            <td><h2 class="tableheading">Title</h2></td>
            <td width="5%"><h2 class="tableheading">Full Text</h2></td> 
            </tr>
            
            {% for d in doc_list %}    
                <tr>
                <td><p>{{d.publication_date}}</p></td>
                <td class="agency"><p>
                       <p>{% for a in d.agencies.all %}
                            {% if a.name %}
                               {% if a.url %}
                                    <a href="{{a.url}}" target="_blank">{{a.name}}</a><br/>
                               {% else %}
                                    {{a.name}}<br/>
                               {% endif %}
                            {% else %}
                               {% if a.url %}
                                    <a href="{{a.url}}" target="_blank">{{a.raw_name}}</a><br/>
                               {% else %}
                                    {{a.raw_name}}<br/>
                               {% endif %}
                            {% endif %}
                       {% endfor %}
                   </p>
                </td>
                <td class="doc_type"><p>{{d.document_type}}</p></td>
                
                <td class="title"><P>{{d.title}}</p>     
                </td>
                
                <td><p>
                {% if d.html_url %}
                         <a href="{{d.html_url}}" target=_blank>html</a><br/>
                    {% endif %}
                    {% if d.pdf_url %}
                       <a href="{{d.pdf_url}}" target=_blank>pdf</a>
                    {% endif %}
                </p></td>
              
             </tr>
             {% endfor %}   
             </table>


    <!-- chronological navigation bar -->
    <div class="nav"> 
    {% if display_offset > 0 %}
        <a class="nav" href="{% url fedregfeed.views.index display_offset=0 display_num=display_num %}"><< newest</a>
        <a class="nav" href="{% url fedregfeed.views.index display_offset=newer_offset display_num=display_num %}">< newer</a>
    {% else %}
        <span class="linknotavail"><< newest < newer</span>
    {% endif %}
    {% if older_offset < total_doc_count %}
        <a class="nav" href="{% url fedregfeed.views.index display_offset=older_offset display_num=display_num %}">older ></a>    
        <a class="nav" href="{% url fedregfeed.views.index display_offset=oldest_offset display_num=display_num %}">oldest >></a>
    {% else %}
       <span class="linknotavail"> older > oldest >></span>
    {% endif %}
    </div>
    
        {% else %}
            <p>no doc_list defined</p>
        {% endif %}


<!-- following block displays the last page of results requested from FR2.0 -->
<!--    {% if request_return %} 
        <H2>results:</H2>
        <p>{{request_return.results}}<p>
        
        <H2>total_pages:</H2>
        <p>{{request_return.total_pages}}<p>
        
        <H2>count:</H2>
        <p>{{request_return.count}}<p>
            
    {% else %}
        <p>no request_return defined</p>
    {% endif %}
-->



<!--    <p><strong>base_url</strong>:{{base_url}}</p> -->
<!--    <p><strong>conditions</strong>:{{base_url}}</p> -->

{% else %}
    <p>no request_url defined</p>

{% endif %}


</body>
</html>
