{% extends "base.html" %}

{% block newnav %}
            {% if newer_pk %} 
                <a class="nav" href="{% url pbear_list doc_pk=newer_pk  %}">&larr;newer</a>
            {% else %}
                &larr;newer
            {% endif %}
            {% if newest_pk %} 
                <a class="nav" href="{% url pbear_list doc_pk=newest_pk  %}">&larr;&larr;newest</a>
            {% else %}
                &larr;&larr;newest
            {% endif %}
{% endblock newnav %}

{% block listnav %}
            <p>Records {{display_offset|add:1}}-{{display_offset|add:display_num}} of {{total_doc_count}}</P>
{% endblock listnav %}

{% block oldnav %}
            {% if older_pk %} 
                <a class="nav" href="{% url pbear_list doc_pk=older_pk   %}">older&rarr;</a>    
            {% else %}
                older&rarr;
            {% endif %}
            {% if oldest_pk %} 
                <a class="nav" href="{% url pbear_list doc_pk=oldest_pk  %}">oldest&rarr;&rarr;</a>
            {% else %}
                oldest&rarr;&rarr;
            {% endif %}
{% endblock oldnav %}


{% block content %}
        {% if doc_list %}            
            {% load comments %}

        <table>
            {% for doc in doc_list %}    
                   
             <tr>     
             <td width="100"><span class="doc_date" >{{doc.publication_date}}</span></td>
            <td>
                 <span class="doc_title" style="font-weight:bold;" ><a href="{% url pbear_single_pk doc_pk=doc.pk %}">{{doc.title}}</a></span> <br/>  
                 
                 <!--
                 <span class="doc_type">{{doc.document_type}}</span> &bull;  
                 <span class="doc_agency">
                 {% for a in doc.agencies.all %}
                    {% if a.name %}
                        {{a.name}}
                        {% if a.url %}<a href="{{a.url}}" target="_blank">&rArr;</a>
                        {% else %}
                       {% endif %}
                     {% else %}
                       {{a.raw_name}}
                       {% if a.url %}
                            <a href="{{a.url}}" target="_blank">&rArr;</a>
                       {% endif %}
                     {% endif %}
                    {% endfor %}
                 &bull; <span class="doc_fulltext">Full text:{% if doc.html_url %} 
                  </span>
                     HTML<a href="{{doc.html_url}}" target=_blank>&rArr;</a>
                    {% endif %}
                    {% if doc.pdf_url %}
                         PDF<a href="{{doc.pdf_url}}" target=_blank>&rArr;</a>
                    {% endif %}

                    </span>
            {% get_comment_count for doc as comment_count %}
                 &bull; <span class="doc_comments_heading">Comments: {{comment_count}}</span>
               </p>
            -->
            
            </td></tr>
            {% endfor %}
            
            
              </table>
        {% else %}
            <p>nothing found</p>
        {% endif %}

{% endblock content %}
