{% extends "base.html" %}

{% block script %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script> -->
<script></script>
{% endblock script %}

{% block title %}
Polar Bear Feed
{% endblock title %}

{% block content %}
    <div style="margin-left:auto; margin-right:auto; text-align:center;width:600px;">
    {% if form %}
        <div style="text-align:left;margin:10px;"><p>Search the full text of items in the local database of <em>Federal Register</em> items. Searches are case-insensitive (<em>Polar Bear</em> and <em>polar bear</em> are the same) but otherwise exact (<em>polar bear</em> and <em>polar bears</em> are different).</p></div>
        <div style="margin:10px;">
        <form style="action="/search/" method="post">{% csrf_token %}
        {{ form.non_field_errors }} {{ form.search_term }}
        <input type="submit" value="Search" />
        </form>
        </div>
    {% endif %}

    {% if total_records != 0 %}
        <div style="text-align:center;margin:20px;">
            <p style="font-weight:bold;">{% if search_term %}
               {{total_records}} records contain "{{search_term}}"
            {% else %}
                Showing all {{total_records}} records
            {% endif %}</p>

            <p>Pages: {% for p in page_range %}
                 {% if p != display_page %}
                    {% if search_term %}<a href="{% url pbear_search_term_page search_term=quoted_search_term display_page=p %}">{{p}}</a>
                    {% else %}<a href="{% url pbear_browse_page display_page=p %}">{{p}}</a>
                    {% endif %}                                                      
                {% else %}
                    <span style="font-weight:bold;">{{p}}</span>
                {% endif %}      
            {% endfor %}
            
            </p>
        </div>
        <div style="text-align:left;">
            <table>
            {% for doc in display_qset %}
                    <tr><td width="30" style="font-weight:bold">{{display_offset|add:forloop.counter0|add:"1"}}</td><td width="100"><span class="doc_date" >{{doc.publication_date}}</span></td><td><span class="doc_title" style="font-weight:normal;"><a href="{% url pbear_detail_pk_search doc_pk=doc.pk search_term=search_term display_page=display_page %}" style="text-decoration:none">{{doc.title}}</a></span></td></tr>  
            {% endfor %}
            </table>
            
        <div style="text-align:center"><p>{% if display_page > 1 %} <a href="{% url pbear_search_term_page search_term=quoted_search_term display_page=display_page|add:"-1"  %}">previous page</a>{% endif %}{% if display_page < total_pages %} <a href="{% url pbear_search_term_page search_term=quoted_search_term display_page=display_page|add:"1" %}">next page</a>{% endif %}</p></div>
        </div>
    {% else %}
        {% if search_term %}
            <p style="font-weight:bold;">no records found containing "{{search_term}}"</p>
        {% endif %}
    {% endif %}    
    </div>
{% endblock content %}

