{% extends "base.html" %}
 
{% block title %}Polar Bear Feed: Single View{% endblock title %}

{% block navigation %}
            {% if newest_pk %} 
                <a href="{% url pbear_single_pk doc_pk=newest_pk %}">newest</a>
            {% else %}
                newest
            {% endif %}
            {% if newer_pk %} 
                <a href="{% url pbear_single_pk doc_pk=newer_pk %}">newer</a>
            {% else %}
                newer
            {% endif %}
            
            <a href="{% url pbear_list doc_pk=doc.pk %}">list</a>

            {% if older_pk %} 
                <a href="{% url pbear_single_pk doc_pk=older_pk %}">older</a>
            {% else %}
                older 
            {% endif %}
            {% if oldest_pk %} 
                <a href="{% url pbear_single_pk doc_pk=oldest_pk %}">oldest</a>
            {% else %}
                oldest
            {% endif %}
{% endblock navigation %}

{% block content %}
        {% if doc %}
            {% if comment_posted %}
                <p class="comment_posted"><em>Thank you for your comment!</em></p>
            {% endif %}
            
            
            <div class = doc_data>
                 <p>{{doc.document_type}}: {{doc.title}}</p>
                 <p>{{doc.publication_date}}</p>
                 <p>{% for a in doc.agencies.all %}
                    {% if a.name %}{% if a.url %}<a href="{{a.url}}" target="_blank">{{a.name}}</a>{% else %}
                            {{a.name}}
                       {% endif %}
                     {% else %}
                       {% if a.url %}
                            <a href="{{a.url}}" target="_blank">{{a.raw_name}}</a>
                       {% else %}
                            {{a.raw_name}}
                       {% endif %}
                     {% endif %}
                    {% endfor %}
                  <p>
                External links to full text:
                {% if doc.html_url %}
                         <a href="{{doc.html_url}}" target=_blank>html</a>
                    {% endif %}
                    {% if doc.pdf_url %}
                                       {% if doc.html_url %}/{% endif %}

                            <a href="{{doc.pdf_url}}" target=_blank>pdf</a>
                    {% endif %}
                </p>
                <P>Abstract:
                {{ doc.abstract }}</p>
            </div>
    
            <div class=doc_comments>
                {% load comments %}
                {% get_comment_count for doc as comment_count %}
                Comments ({{ comment_count}})
                {% render_comment_list for doc %}
                <table>
                <tr><td>
                    {% render_comment_form for doc %}
                </td></tr>
                </table>    

    
        {% else %}
            <p>no doc defined</p>
        {% endif %}

{% endblock content %}

