{% extends "base.html" %}
 
{% block title %}Polar Bear Feed: Single View{% endblock title %}

{% block newnav %}
            {% if newer_pk %} 
                <a href="{% url pbear_single_pk doc_pk=newer_pk %}">&larr;newer</a>
            {% else %}
                &larr;newer
            {% endif %}
            {% if newest_pk %} 
                <a href="{% url pbear_single_pk doc_pk=newest_pk %}">&larr;&larr;newest</a>
            {% else %}
                &larr;&larr;newest
            {% endif %}
{% endblock newnav %}

{% block listnav %}
            <a href="{% url pbear_list doc_pk=doc.pk %}">list view</a>
{% endblock listnav %}

{% block oldnav %}
            {% if older_pk %} 
                <a href="{% url pbear_single_pk doc_pk=older_pk %}">older&rarr;</a>
            {% else %}
                older&rarr;
            {% endif %}
            {% if oldest_pk %} 
                <a href="{% url pbear_single_pk doc_pk=oldest_pk %}">oldest&rarr;&rarr;</a>
            {% else %}
                oldest&rarr;&rarr;
            {% endif %}
{% endblock oldnav %}

{% block content %}
        {% if doc %}
            {% if comment_posted %}
                <div style="margin-left:auto;margin-right:auto;width:200px;"><p class="comment_posted" style="font-weight:bold; color:#0000cc"><em>Thank you for your comment!</em></p></div>
            {% endif %}
            
             <p class = "doc_data">
                 <span class="doc_title" style="font-size:14px;font-weight:bold;" >{{doc.title}}</span> <br/> 
                 <span class="doc_date">{{doc.publication_date}}</span> &bull;
                 <span class="doc_type">{{doc.document_type}}</span> &bull;  
                 <span class="doc_agency">
                 {% for a in doc.agencies.all %}
                    {% if a.name %}
                        {{a.name}}
                        {% if a.url %}<a href="{{a.url}}" target="_blank">&rArr;</a>
                        {% else %}
                       {% endif %}
                     {% else %}
                       {{a.raw_name}}
                       {% if a.url %}
                            <a href="{{a.url}}" target="_blank">&rArr;</a>
                       {% endif %}
                     {% endif %}
                    {% endfor %}
                  </span>
                &bull; <span class="doc_fulltext"> Full text:{% if doc.html_url %}
                     HTML<a href="{{doc.html_url}}" target=_blank>&rArr;</a>
                    {% endif %}
                    {% if doc.pdf_url %}
                         PDF<a href="{{doc.pdf_url}}" target=_blank>&rArr;</a>
                    {% endif %}

                    </span>
                </p>
               
                <P class="doc_abstract"><span style="font-weight:bold">Abstract</span>: {{ doc.abstract }}</p>
            </div>
        {% else %}
            <p>no doc defined</p>
        {% endif %}

{% endblock content %}

    
{% block comments %}
            <div class=doc_comments>
                {% load comments %}
                {% get_comment_count for doc as comment_count %}
                <span class="doc_comments_heading"><span style="font-weight:bold">Comments</span>: {{comment_count}}</span>
                {% render_comment_list for doc %}
                <table>
                <p>Post a comment:</p>
                <tr><td>
                    {% render_comment_form for doc %}
                </td></tr>
                </table> 
             </div> 
{% endblock comments %}
    


