{% extends "base.html" %}

{% block title %}Polar Bear Feed: Trophies{% endblock title %}

{% block headscript %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<style type="text/css">
  #map_canvas { height: 50% }
</style>
<script type="text/javascript">
 
  var marker_locations = [
  {% for t in trophies %}
    new google.maps.LatLng({{ t.lat }}, {{ t.lng }})
    {% if not forloop.last %}
    ,
    {% endif %}
  {% endfor %}
  ];
  var markers = [];
  var map;
  
  function initialize() {
    var myOptions = {
      zoom:4,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      center:marker_locations[0]
    };

    map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);    
  }
  
  
</script> 
{% endblock headscript %}

{% block content %}

    <h2  onload="initialize()">Trophies</h2>
    <div id="map_canvas" style="width:100%; height:100%"></div>    
    {% for t in trophies %}
        <P>
        {% for k, v in t.items %}
            {{k}}:{{v}}</br/>
        {% endfor %}
        </P>
    {% endfor %}
{% endblock content %}

